@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    background-color:rgb(76, 76, 77);
    color: white;
    
    
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    
}

#adicionaTarefaNaLista,
#ocultarTarefa {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
    display: flex;
}

#adicionaTarefaNaLista{
    display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(45, 44, 44);
  margin-top: 10px;

}

#adicionaTarefaNaLista:hover{
    background-color: maroon;
}

#ocultarTarefa{
    display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(45, 44, 44);
  vertical-align: middle;
}

#ocultarTarefa:hover{
    background-color: maroon;
}

#desocultarTarefas{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(45, 44, 44);
  display: flex;
  vertical-align: middle;
}

#desocultarTarefas:hover{
    background-color: maroon;
}

main{
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input_nova_tarefa{
    display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(45, 44, 44);
}

label {
    display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgb(45, 44, 44);
  vertical-align: middle;
    
}

#idTarefa{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: rgb(45, 44, 44);
    vertical-align: middle;
}


